# API 설정
VITE_API_URL=http://localhost:8000/api/v1

# Firebase 설정
VITE_FIREBASE_API_KEY=AIzaSyChBnuJCAKe-TxcvGT0eCV5AUNA_4btZPo
VITE_FIREBASE_AUTH_DOMAIN=pick-o-main.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pick-o-main
VITE_FIREBASE_STORAGE_BUCKET=pick-o-main.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=237171811665
VITE_FIREBASE_APP_ID=1:237171811665:web:445df31d49b637afb69f70
VITE_FIREBASE_MEASUREMENT_ID=G-0MZ40REVBH

# 애플리케이션 설정
VITE_APP_NAME="바다 대장부"
VITE_APP_VERSION=1.0.0

# 환경설정
NODE_ENV=development

# 기능 플래그
VITE_ENABLE_CHAT=true
VITE_ENABLE_NOTIFICATIONS=true
VITE_ENABLE_DARK_MODE=true